name: Deploy Shared Services
on:
  workflow_dispatch:
  push:
    branches: [main]
    paths: 
      - 'konecta_erp/backend/SharedContracts/**'
      - '.github/workflows/deploy-shared-services.yml'

env:
  IMAGE_NAME: us-east1-docker.pkg.dev/konecta-task-467513/erp/shared-services

jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v4
      - uses: google-github-actions/setup-gcloud@v2
      - uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GOOGLE_CREDENTIALS }}
      - run: gcloud auth configure-docker us-east1-docker.pkg.dev
      - run: |
          cd konecta_erp
          docker build -f backend/SharedContracts/Dockerfile -t $IMAGE_NAME:${{github.sha}} .
      - run: docker push $IMAGE_NAME:${{github.sha}}
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.6
      - run: terraform init
        working-directory: ./Terraform/services/shared
      - run: terraform plan -var="image=${{ github.sha }}"
        working-directory: ./Terraform/services/shared
      - if: github.ref == 'refs/heads/main'
        run: terraform apply -auto-approve -var="image=${{ github.sha }}"
        working-directory: ./Terraform/services/shared
