name: Deploy Frontend to GCP Cloud Run

on:
  push:
    branches: [ main ]
    paths: 
      - 'konecta_erp/frontend/**'
      - '.github/workflows/deploy-frontend.yml'
  pull_request:
    branches: [ main ]
    paths: 
      - 'konecta_erp/frontend/**'
      - '.github/workflows/deploy-frontend.yml'

jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
      
      - name: Auth to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GOOGLE_CREDENTIALS }}
      
      - name: Configure Docker for Artifact Registry
        run: gcloud auth configure-docker us-east1-docker.pkg.dev
      
      - name: Build Docker Image
        run: |
          cd konecta_erp
          docker build -f frontend/Dockerfile -t ${{secrets.REPO_URL}}frontend:${{github.sha}} .

      - name: Push Image
        run: docker push ${{secrets.REPO_URL}}frontend:${{github.sha}}
      
      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy frontend \
            --image=${{secrets.REPO_URL}}frontend:${{github.sha}} \
            --region=us-east1