# Deploy Authentication Service to GCP Cloud Run
name: Deploy Authentication Service
on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - "konecta_erp/backend/AuthenticationService/**"
      - ".github/workflows/deploy-authentication-service.yml"

env:
  IMAGE_NAME: "${{secrets.REPO_URL}}/authentication-service"

jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Auth to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GOOGLE_CREDENTIALS }}

      - name: Configure Docker for Artifact Registry
        run: gcloud auth configure-docker us-east1-docker.pkg.dev

      - name: Build Docker Image
        run: |
          cd konecta_erp
          docker build -f backend/AuthenticationService/Dockerfile -t ${{env.IMAGE_NAME}}:${{github.sha}} .

      - name: Push Image
        run: docker push ${{env.IMAGE_NAME}}:${{github.sha}}

        # 3️⃣ Terraform Init (service-specific)
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.6

      - name: Terraform Init
        working-directory: ./Terraform/services/auth
        run: |
          terraform init
      # 4️⃣ Terraform Plan
      - name: Terraform Plan
        id: plan
        working-directory: ./Terraform/services/auth
        run: |
          terraform plan \
            -var="image=${{ env.IMAGE_NAME }}:${{github.sha}}" \
            -var="project_id=${{secrets.PROJECT_ID}}"

      # 5️⃣ Terraform Apply
      - name: Terraform Apply
        if: github.ref == 'refs/heads/main'
        working-directory: ./Terraform/services/auth
        run: |
          terraform apply -auto-approve \
            -var="image=${{ env.IMAGE_NAME }}:${{github.sha}}" \
            -var="project_id=${{secrets.PROJECT_ID}}"
