name: Destroy Terraform Services
on:
  workflow_dispatch:

jobs:
  destroy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.6

      - run: terraform destroy -auto-approve
        working-directory: ./Terraform/shared
